!!! 5
html(lang="en")
  head
    title Shoelace - Reebok Pumps
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//use.typekit.net/xlr6gwy.js')
    script.
      try{Typekit.load();}catch(e){}
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    .container.mixin-examples
      .headlines
        .local
          |sm-4
          br
          |md-3
        .global
          |sm-4
          br
          |md-3
        .online
          |sm-4
          br
          |md-6
      .stories
        .human-interest
          |sm-12
          br
          |lg-6
        .politics
          |sm-12
          br
          |lg-6
      .comics
        .garfield
          |xs-12
          br
          |sm-3
          br
          |sm-offset-3
        .marmaduke
          |xs-6
          br
          |sm-3
        .wizard-of-id
          |xs-6
          br
          |sm-3
      

    .container.code
      .row
        .col-sm-6
          pre
            |&lt;div class=&quot;container mixin-examples&quot;&gt;
            |  &lt;div class=&quot;headlines&quot;&gt;
            |    &lt;div class=&quot;local&quot;&gt;sm-4&lt;br&gt;md-3&lt;/div&gt;
            |    &lt;div class=&quot;global&quot;&gt;sm-4&lt;br&gt;md-3&lt;/div&gt;
            |    &lt;div class=&quot;online&quot;&gt;sm-4&lt;br&gt;md-6&lt;/div&gt;
            |  &lt;/div&gt;
            |  &lt;div class=&quot;stories&quot;&gt;
            |    &lt;div class=&quot;human-interest&quot;&gt;sm-12&lt;br&gt;lg-6&lt;/div&gt;
            |    &lt;div class=&quot;politics&quot;&gt;sm-12&lt;br&gt;lg-6&lt;/div&gt;
            |  &lt;/div&gt;
            |  &lt;div class=&quot;comics&quot;&gt;
            |    &lt;div class=&quot;garfield&quot;&gt;xs-12&lt;br&gt;sm-3&lt;br&gt;sm-offset-3&lt;/div&gt;
            |    &lt;div class=&quot;marmaduke&quot;&gt;xs-6&lt;br&gt;sm-3&lt;/div&gt;
            |    &lt;div class=&quot;wizard-of-id&quot;&gt;xs-6&lt;br&gt;sm-3&lt;/div&gt;
            |  &lt;/div&gt;
            |&lt;/div&gt;




        .col-sm-6
          pre
            |.headlines {
            |  .make-row();
            |  .local {
            |    .make-sm-column(4);
            |    .make-md-column(3);
            |  }
            |  .global {
            |    .make-sm-column(4);
            |    .make-md-column(3);
            |  }
            |  .online {
            |    .make-sm-column(4);
            |    .make-md-column(6);
            |  }
            |}
            |.stories {
            |  .make-row();
            |  .human-interest {
            |    .make-sm-column(12);
            |    .make-lg-column(6);
            |  }
            |  .politics {
            |    .make-sm-column(12);
            |    .make-lg-column(6);
            |  }
            |}
            |.comics {
            |  .make-row();
            |  .garfield {
            |    .make-xs-column(12);
            |    .make-sm-column(3);
            |    .make-sm-column-offset(3);
            |  }
            |  .marmaduke {
            |    .make-xs-column(6);
            |    .make-sm-column(3);
            |  }
            |  .wizard-of-id {
            |    .make-xs-column(6);
            |    .make-sm-column(3);
            |  }
            |}








      .headlines
        .local
        .global
        .online
      .stories
        .human-interest
        .politics
      .comics
        .garfield
        .marmaduke
        .wizard-of-id
