!!! 5
html(lang="en")
  head
    title Shoelace - Reebok Pumps
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//use.typekit.net/hse2lqc.js')
    script.
      try{Typekit.load();}catch(e){}
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    header
      .logo

    .application-frame
      .panels-wrapper
        .navigator
          .collapse-panel.left
            i.icon-caret-left
          
        .section-border.left
        .workspace
          

        .section-border.right
        .html
          .collapse-panel.right 
            i.icon-caret-right
          
    footer
      |footme