!!! 5
html(lang="en")
  head
    title Shoelace - Reebok Pumps
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//use.typekit.net/xlr6gwy.js')
    script.
      try{Typekit.load();}catch(e){}
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    header
      .logo
      .lace-url
        |http://shoelace.io/lace/2k3j 
      

      .menu
        ul.modify
          li
            a.btn.btn-shoelace
              i.icon-refresh  
              |Update
          li  
            a.btn.btn-shoelace
              i.icon-code-fork 
              |Fork  
        ul.share
          li
            a.btn.btn-shoelace
              i.icon-twitter 
              |Tweet
          li
            a.btn.btn-shoelace
              i.icon-github 
              |Gist
          li
            a.btn.btn-shoelace
              i.icon-envelope 
              |Email
        .meta
          ul
            li
              //- a.btn.active
                //- i.icon-circle 


    .application-frame
      .panels-wrapper
        .navigator
          .collapse-panel.left
            i.icon-caret-left
          
          .preview.xs
            .title-bar
              .size-icon: i.icon-mobile-phone  
              .title Phone
          .preview.sm.active
            .title-bar.active
              .size-icon: i.icon-tablet  
              .title Tablet
          .preview.md
            .title-bar
              .size-icon: i.icon-laptop  
              .title Desktop
          .preview.lg
            .title-bar
              .size-icon: i.icon-desktop   
              .title Large Desktop
          
        .section-border.left
        .workspace
          

        .section-border.right
        .html
          .collapse-panel.right 
            i.icon-caret-right
          .copy-code
            |Copy
          .options
            ul
              li.active HTML
              li Jade
              li HAML
              li Other?
            .container-check
              label
                input(type='checkbox')
                |  Include Container

          
    footer
      ul
        li
         a(href="#") About Us
        li
         a(href="#") Contact
        li
         a(href="#") Design by Erik
        li
         a(href="#") Code by Shaun
        li
         a(href="#") Get Bootstrap
      ul.meta
        li
         a(href="#") Built with UX and Clojure

        
 