!!! 5
html(lang="en")
  head
    title Shoelace - Reebok Pumps
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='//code.jquery.com/jquery-latest.min.js')
    script(src='//use.typekit.net/xlr6gwy.js')
    script.
      try{Typekit.load();}catch(e){}
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
    link(rel='stylesheet', href='css/styles.css')
  body
    header
      .logo
      .lace-url
        |http://shoelace.io/lace/2k3j 
        i.icon-copy
      .menu
        ul.modify
          li
            a.btn.active
              i.icon-cloud-download 
              |Save
          li
            a.btn.btn-shoelace
              i.icon-code-fork 
              |Fork
        ul.share
          li
            a.btn.btn-shoelace
              i.icon-github 
              |Gist
          li
            a.btn.btn-shoelace
              i.icon-twitter 
              |Tweet
          li
            a.btn.btn-shoelace
              i.icon-envelope 
              |Email
          li
            a.btn.btn-shoelace
              i.icon-star 
              |Favorite
        .meta
          ul
            li
              a.btn.active
                i.icon-circle 
                |soemthing?
            li
              a.btn.btn-shoelace
                i.icon-fire 
                |fire

    .application-frame
      .panels-wrapper
        .navigator
          .collapse-panel.left
            i.icon-caret-left
          
        .section-border.left
        .workspace
          

        .section-border.right
        .html
          .collapse-panel.right 
            i.icon-caret-right
          
    footer
      |footme