html, body {
  height: 100%;
}

body {
  background-color: hsl(195, 6%, 13%);
  font-family: @body;
  font-weight: @light;
  font-size: 16px;
  line-height: 1.6em;
  color: hsl(0, 0%, 45%);
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

// Master Animation Durations
.easing {
  transition: width 0.5s,
  margin 0.5s,
  height 0.5s,
  top 0.5s,
  left 0.5s,
  right 0.5s,
  background 0.5s,
  opacity 0.5s,
  font-size 0.3s;
}

// Diagonal Gradient
.no-changes {
  #gradient > .striped(@white, 45deg);
  background-size: 20px 20px;
}


.blackout-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: hsla(0, 0%, 0%, .5);
  .notification {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
    font-weight: @semibold;
  }
}
