// Font Stuff
@ultraLight:  100;
@thin:        200;
@light:       300;
@normal:      400;
@semibold:    600;
@bold:        700;

@body:        "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
@titles:      "aktiv-grotesk-std", "Helvetica Neue", Helvetica, Arial, sans-serif;
@condensed:   "proxima-nova-alt-condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

@white:       #fff;
@black:       #000;
@red:         hsl(0, 100%, 50%);


@header-height:  55px;
@footer-height:   45px;
@html-width:      420px;




@xs-color: hsl(0, 70%, 60%);
@sm-color: hsl(216, 96%, 67%);
@md-color: hsl(130, 30%, 49%);
@lg-color: hsl(36, 62%, 53%);

@morefaded: 90%;
@lessfaded: 70%;