.row > div {
    min-height: 100px;
    font-family: "BLOKKNeue-Regular", serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background: #efefef;
}

.row > div:hover {
    box-shadow: inset 0 0 5px black;
}


@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('/blokk/webfonts/BLOKKNeue-Regular.eot');
}

@font-face {
    font-family: 'BLOKKNeue-Regular';
    src: url('/blokk/webfonts/BLOKKNeue-Regular.woff') format('woff'),
    url('/blokk/webfonts/BLOKKNeue-Regular.svg#BLOKKNeue-Regular') format('svg');
}

body, h1, h2, h3, h4, h5, h6 { font-family: "BLOKKNeue-Regular", serif }

.controls {
   border-top: 1px solid #333;
   font-family: helvetica;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.5);
}

.controls > div {
    float: left;
    margin-right: 10px;
    padding: 10px;
}

.controls > div.active {
    background: rgba(255, 255, 255, 0.5);
}
