body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
}

.cols {
    height: 100%;
    display: inline-block;
    float: left;
}

.col {
    height: 150px;
    background: #ccc;
    float: left;
    position: relative;
    margin-right: 15px;
}

.cols .col {
    margin-bottom: 10px;
}

.cols .col.dragging {

}

.cols .col:first-child {
    margin-left: 0;
}

.columns .col {
    width: 60px;
    height: 100%;
    background: #282728;
}

.col.active .remove {
    display: block;
}

.remove {
    position: absolute;
    top: 2px;
    right: 5px;
    color: white;
    cursor: pointer;
}

.width {
    width: 60px;
    height: 100%;
    display: inline-block;
    background: #599cff;
    position: relative;
    float: left;
    overflow: hidden;
}

.easing {
    transition: width 0.5s, margin 0.5s, height 0.5s, top 0.5s, left 0.5s, right 0.5s, background 0.5s, opacity 0.5s;
}


.collapse-panel {
    cursor: pointer;
}

.navigator.collapsed {
    margin-left: -180px;
}

.navigator.collapsed .preview {
    height: 30px;
}

.section-border.collapsed.left {
    left: 40px;
}


.workspace.medias-collapsed {
    left: 50px;
}

.workspace.output-collapsed {
    right: 75px;
}

.html.collapsed {
    margin-right: -350px;
}

.html.collapsed .options li {
    display: block;
}

.html.collapsed .output {
    display: none;
}

.html.collapsed .planchette {
    display: none;
}

.html.collapsed .planchette.easing {
    display: block;
}

.section-border.collapsed.right {
    right: 72px;
}


.width .col-name {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 10pt;
    padding: 0;
    border: 0;
    color: white;
    padding-left: 2px;
    background: transparent;

}

.width .classes {
    position: absolute;
    bottom: 3px;
    left: 19px;
    font-size: 10pt;
    color: white;
    line-height: 1em;
}

.width .classes {

}

.width .nested {
    position: absolute;
    bottom: 5px;
    right: 5px;
    line-height: 1em;
    font-size: 13pt;
    color: rgba(0, 0, 0, 0.3);
}

.cols .col {
    background: transparent;
}

.offset {
    height: 100%;
    display: inline-block;
    float: left;
    background: #fff;
    opacity: 0.2;
}

.offset-handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}


.row .col {
    width: auto;
    cursor: pointer;
    background: transparent;
}

.col:last-child {
    margin-right: 0;
}

.container {
    width: 900px;
    overflow: hidden;
    position: relative;
    min-height: 3200px;
    height: 100%;
}

.columns {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.rows {
    min-width: 900px;
    position: absolute;
    left: 0;
    top: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sl-row {
    padding-top: 25px;
    padding-bottom: 10px;
    width: 100%;
    background: rgba(89, 156, 255, 0.3);
    margin-top: 10px;
    position: relative;
}

.sl-row.active {
    background: rgba(89, 156, 255, 0.5);
}

.sl-row.removing {
    opacity: 0;
}

input { outline: none; }

.sl-row .row-name {
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    padding: 0;
    background: transparent;
    font-family: inherit;
    font-size: 10pt;
    color: white;
    padding-left: 5px;
    width: 285px;
}

.sl-row .tools {
    position: absolute;
    top: 2px;
    right: 5px;
    color: white;
}

.sl-row .tools .grow-row {
    color:  #477dcc;
}

.sl-row .tools .grow-row.active {
    color: white;
}

.sl-row .tools span {
    display: inline-block;
    padding-left: 10px;
    cursor: pointer;
}

.sl-row .clear {
    clear: both;
}

.new-row {
    width: 875px;
    height: 150px;
    margin-left: 5px;
    border: 1px dashed white;
    background: transparent;
    cursor: pointer;
}

.sl-row.active .new-col {
    display:inline-block;
}

.sl-row {
    min-height: 195px;
}

.new-col {
    display: none;
    float: left;
    width: 50px;
    cursor: pointer;
    margin-left: 5px;
    height: 150px;
    border: 1px dashed white;
    background: transparent;
}

.new-col.no-cols {
    margin-left: 5px;
}

.new-col:first-child {
    margin-left: 4px;
}

pre.output {
    font-family: monospace;
    padding: 1em;
    font-size: 8pt;
    border: none;
}


/* It needs this added somewhere */
.workspace {
    overflow-y: scroll;
}

.options {
  position: relative;
}

.html.collapsed .options {
    background: transparent;
    border-bottom: 0;
}

.options ul {
  position: absolute;
}

.html .options ul li {
    cursor: pointer;
    color: white;
}

.copy-code {
    cursor: pointer;
}

.html.collapsed .copy-code {
    left: 7px;
    right: auto;
}

.copy-output {
    position: absolute;
    width: 1px;
    height: 1px;
    bottom: -10px;
}

header .logo {
    margin-right: 20px;
}

.preview-container {
    height: 162px;
    overflow: auto;
}

.preview-rows {
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.preview.active .title-bar {
    background: linear-gradient(to bottom, #3188bf 0, #0a598a 100%);
    background-repeat: repeat-x;
}

.preview-rows .preview-row {
    overflow: hidden;
    clear: both;
}

.preview-rows .preview-col {
    float: left;
    display: inline-block;
    height: 20px;
    margin-right: 3px;
}

.preview-rows .preview-col:last-child {
    margin-right: 0;
}

.preview-col {
    margin-bottom: 3px;
}

.preview-col:last-child {
    margin-bottom: 0;
}

.xs .preview-col {
    background: #c72818;
}

.xs .preview-rows .preview-row {
    margin-bottom: 3px;
}

.sm .preview-col {
    background: #1583df;
}

.md .preview-col {
    background: #1da83f;
}

.lg .preview-col {
    background: #c6861a;
}

.container.xs .sl-row {
    background: rgba(116, 27, 31, 0.3);
}

.container.xs .sl-row.active {
    background: rgba(116, 27, 31, 0.7);
}

.container.xs .col .width {
    background: #e05050;

}

.container.md .sl-row {
    background: rgba(88, 164, 99, 0.3);
}

.container.md .sl-row.active {
    background: rgba(88, 164, 99, 0.5);
}

.container.md .col .width {
    background:  #58a463;
}

.container.lg .sl-row {
    background: rgba(210, 150, 62, 0.3);
}

.container.lg .sl-row.active {
    background: rgba(210, 150, 62, 0.5);
}

.container.lg .col .width {
    background: #d2963e;
}

.container.md .sl-row.new-row, .container.lg .sl-row.new-row, .container.xs .sl-row.new-row {
    background: transparent;
}

.html .copy-code {
    top: auto;
    bottom: 5px;
}

.html ul {
    list-style-type: none;
}

.edn-bracket-open {
    float: left;
}

.edn-bracket-close {
    display: inline-block;
}

ul.edn-rows {
    position: relative;
    margin: 0;
    padding: 0;
}

ul.edn-rows > li {
    margin-left: 0.6em;
}

ul.edn-rows >li:first-child {
    margin-left: 0;
}

ul.edn-cols {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
 }

.edn-name {
    float: left;
    margin-right: 0.5em;
}

ul.edn-media {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
 }

.edn-kw {
    display: inline-block;
    margin-right: 0.5em;
    cursor: pointer;
}

.edn-kw.edn-width {
    margin-right: 0;
}

.not-modified {
    background-image:-webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,0.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,0.15)), color-stop(.75, rgba(255,255,255,0.15)), color-stop(.75, transparent), to(transparent));
    background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-image:-moz-linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-image:linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size:30px 30px;
}
